.page-header {
  color: map-get($colors, red-title)
}

.list-group-item{
  margin-top: 10px;
  border-radius: 4px;
  background: map-get($colors, gray);
  border: 1px solid map-get($colors, gray-border);
  .row > .info:not(.last-child){
    border-right: 1px solid map-get($colors, gray-border);
  }
  &.empty-list{
    padding: 30px;
    p {
      color: darken( map-get($colors, gray-border), 30%);
    }
  }
}

.options{
  .option{
    border-left: 1px solid map-get($colors, gray-border);
    padding: 11px 15px;
    a{
      color: darken( map-get($colors, gray-border), 30%);
      font-size: 18px;
      cursor: pointer;
    }
  }
}
.prefix-ball {
  position: relative;
  &:before{
   content: '';
   display: inline-block;
   margin-right: 4px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: map-get($colors, gray-border);
  }
}

.add-buttom {
  padding: 6px 40px;
  border-color: map-get($colors, gray-buttom);
  color: map-get($colors, gray-buttom);
  &:active, &:hover {
    border-color: map-get($colors, gray-buttom);
    color: map-get($colors, gray-buttom);
  }
}

@media (max-width: 765px) {
  .info {
    padding-bottom: 20px;
  }
}